<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jobseekers Navbar</title>
  <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="logo">
        <img src="/static/img/logo.img.png" alt="Jobseekers Logo">
      </div>
      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="jobs.html">Jobs</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="{% url 'login' %}" class="login-btn">Login</a></li>
      </ul>
    </div>
  </nav>

  <script src="scripts.js"></script>
</body>
</html>
